<div class="input-group mb-3">
    <input #searchbox (keyup.enter)="onEnter(searchbox.value)" type="text" class="form-control" [placeholder]="placeholder" aria-label="search" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button (click)="onClickSearch(searchbox.value)" class="btn btn-outline-secondary" type="button">{{title}}</button>
    </div>
  </div>