<app-layout>
  <app-search
    [title]="'Search'"
    [placeholder]="'Search for a location'"
    (search)="onSearch($event)"></app-search>
  <div class="searchResults">
    <ul>
      <li *ngFor="let item of results$ | async">{{item.name}}</li>
    </ul>
  </div>
</app-layout>

